section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.imgt {
    width: 100%;
    border-radius: 5px;
}
.namep {
    font-family: Roboto,Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 5px;
}
.profile {
    display: grid;
    grid-template-columns: 40px 1fr;
}
.cat-profile {
    width: 50px;
    border-radius: 30px;
}