.main-container {
    max-width: 50%;
    margin: auto;
    border: 1px solid  grey;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 1px 1px .5px rgba(0, 0, 0, .4);
    
}

.each-box {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.name {
    color: grey;
    font-weight: bold;
}
.number {
    color: white;
    background-color: rgb(75, 75, 228);
    padding:5px 10px 5px 10px;
    border-radius: 15px;
    font-size: 15px;
}
.picture-box {
    display: flex;
    flex-direction: column;
}
.main-blocks {
    
}