* {
    font-size: 30px;
}
.container {
    margin: 30px;
}
.back {
    font-size: 25px;
    padding: 15px 7px 15px 7px;
    font-family: monospace;
}
.next {
    font-size: 25px;
    padding: 15px 7px 15px 7px;
    font-family: monospace;
    vertical-align: top;
}