* {
    font-size: 30px;
}
.container {
    margin: 30px;
}
.back {
    font-size: 25px;
    padding: 15px 7px 15px 7px;
    font-family: monospace;
}
.next {
    font-size: 25px;
    padding: 15px 7px 15px 7px;
    font-family: monospace;
    vertical-align: top;
}
a{
    padding-right: 8px;
    padding-left: 8px;
}
.box-stretch {
    background-color:rgba(50, 133, 37, 0.704);
    padding: 10px 20px 10px 20px;
    border: none;
    color: #fff;
    font-weight: 100px;
}