.container {
    width: 400px;
    border: 2px solid rgb(225, 220, 220);
    border-radius: 3px;
    padding-left: 10px;
    height: 200px;
}
.inboxes {
    color: rgb(189, 185, 185);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnail {
    width: 80px;
    height: 80px;
}