button {
    padding: 10px;
    font-size: 20px;
}
.subscribe {
    background-color: rgb(191, 30, 30);
    border:none;
    color: #fff;
    cursor: pointer;
}
.join {
    background-color:#fff;
    border-color: rgb(24,24,199);
    color:rgb(24, 24, 199);
    border-radius: 5px;
}
.tweet {
    border-radius: 20px;
    border: none;
    color:#fff;
    text-transform: lowercase;
    background-color:rgb(11, 51, 230,);
    
}