.container {
    max-width: 500px;
    border: 2px solid rgb(225, 220, 220);
    border-radius: 3px;
    padding-left: 10px;
}
.inboxes {
    color: rgb(189, 185, 185);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bottom-container {
    display: flex;
    
}
.thumbnail {
    width: 100%;
}