* {
    font-size: 30px;
}
.container {
    margin: 30px;
}
.back {
    font-size: 25px;
    padding: 15px 7px 15px 7px;
    font-family: monospace;
}
.next {
    font-size: 25px;
    padding: 15px 7px 15px 7px;
    font-family: monospace;
    vertical-align: top;
}
a{
    padding-right: 8px;
    padding-left: 8px;
}
.box-stretch {
    background-color:rgba(31, 92, 22, 0.704);
    padding: 5px 13px 5px 13px;
    border: none;
    color: #f5f5f5;
    font-weight: 50px;
    cursor: pointer;
    transition: padding .5s;
}
.box-stretch:hover {
    padding: 30px 40px 30px 40px;
    
}