.main-block {
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}
.home {
    color: white;
    padding-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input {
    padding-left: 15px;
    font-size: 15px;
    width: 450px;
    height: 30px;
    border-radius:20px;
    border: none;
}
.download {
   background-color: blueviolet;
   border: 1px solid white;
   color: white; 
   margin-right: 15px;
   padding: 10px 5px 10px 5px;
}

