/*Taking care of the top border first*/
.top-header {
    display: flex;
    
    background-color:pink;
    height: 50px;
    flex: 1;
    
}
.hamburger-menu {
    width: 25px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.youtube-logo {
    width: 90px;
    height: 40px;
}
.top1 {
    margin-right: 330px;

}
.search-box {
    max-width: 400px;
    height: 39px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-color: rgba(192, 184, 184,.4);
}
.search-button {
    width: 25px;
    height: 35px;
    border: 1px solid rgba(192, 184, 184,.4);
    padding: 1px 10px 1px 10px;
    margin-left: -1px;
    background-color: rgba(236, 231, 231,.4);
    vertical-align: top;
}
.microphone {
    vertical-align: top;
    width: 25px;
    height: 35px;
    border-radius: 30px;
    padding: 2px 6px 2px 6px;
    margin-left: 6px;
    background-color: rgba(236, 231, 231,.4);
}
.top2 {
    display: flex;
    margin-right: 100px;
}
.upload {
    padding-right: 20px;
    width: 40px;
    height: 50px;
}
.youtube-apps {
    padding-right: 20px;
    width: 40px;
    height: 40px;
}
.notification-box {
    position: relative;
}
.notification-icon {
    padding-right: 20px;
    padding: 10px;
    width: 40px;
    height: 40px;
}
.number {
    position: absolute;
    top: 0;
    right: 4;
    background-color: red;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    color: white;
    
}
.channel-profile {
    padding: 10px;
    width: 50px;
}
.top3 {
  
    display: flex;
    align-items: center;
    
}